absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
astunparse==1.6.3
attrs==24.2.0
backports-abc==0.5
backports.functools-lru-cache==1.6.4
Brotli==1.0.9
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.3.1
cycler==0.11.0
Cython==3.0.11
decorator==5.1.1
fastdtw==0.3.4
filelock==3.13.1
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.5.0
fsspec==2024.10.0
gast==0.6.0
ge==0.0.0
gensim==4.3.3
gmpy2==2.1.2
google-pasta==0.2.0
grpcio==1.68.1
h5py==3.11.0
idna==3.10
iniconfig==2.0.0
intel-cmplr-lib-ur==2025.0.4
intel-openmp==2021.4.0
interchange==2021.0.4
Jinja2==3.1.4
joblib==1.4.2
keras==3.7.0
kiwisolver==1.4.4
libclang==18.1.1
linecache2==1.0.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.9.2
mdurl==0.1.2
mkl==2021.4.0
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
ml-dtypes==0.4.1
monotonic==1.6
mpmath==1.3.0
multidict==6.1.0
namex==0.0.8
neo4j==5.27.0
networkx==3.4.2
node2vec==0.5.0
numpy==1.24.3
olefile==0.46
opt_einsum==3.4.0
optree==0.13.1
packaging==20.9
pandas==2.2.3
pansi==2024.11.0
pillow==11.0.0
pip==24.2
pip-autoremove==0.10.0
platformdirs==3.10.0
pluggy==1.5.0
ply==3.11
pooch==1.8.2
propcache==0.2.1
protobuf==5.29.1
psutil==6.1.0
py2neo==2021.2.4
Pygments==2.18.0
pyparsing==2.4.7
PyQt5==5.15.10
PyQt5-sip==12.13.0
pyreadline==2.1
PySocks==1.7.1
pytest==8.3.4
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
scikit-learn==1.5.1
scipy==1.10.1
setuptools==72.1.0
singledispatch==3.7.0
sip==6.7.12
six==1.16.0
smart-open==7.0.5
sympy==1.13.1
tbb==2021.13.1
tcmlib==1.2.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
threadpoolctl==3.5.0
torch==2.5.1
torch-geometric==2.6.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.67.1
traceback2==1.4.0
typing_extensions==4.11.0
tzdata==2024.2
umf==0.9.1
unicodedata2==15.1.0
urllib3==2.2.3
Werkzeug==3.1.3
wheel==0.37.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.17.0
yarl==1.18.3
